<nav class="navbar navbar-expand-lg bg-dark mb-3">
  <div class="container-fluid">
    <a class="navbar-brand text-white" routerLink="post-list">Live Posts</a>
    <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white ms-4" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="post-add">Add Post</a>
        </li>
      </ul>
      <ul class="navbar-nav me-end mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="#"><i class="fa-solid fa-user me-1"></i>Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#"><i class="fa-solid fa-right-to-bracket me-1"></i>Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
